<div class="container">
  <div class="col-xs-12">
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-recipe-book></app-recipe-book>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>





<!-- Earlier work -- Angular 7 fundamental concepts -->
<footer class="container fixed-bottom">
  <button class="btn-primary" type="button" (click)="showEarlierWork = !showEarlierWork">Show Earlier Work</button>
  <div *ngIf="showEarlierWork">
    <app-alert-container></app-alert-container>
    <app-binding-examples></app-binding-examples>
    <app-toggle></app-toggle>
  </div>
</footer>