<!--The content below is only a placeholder and can be replaced.-->
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{ title }} Stuff
      </h1>
      <br>
      <section>
        <button class="btn-primary" type="button" (click)="showEarlierWork = !showEarlierWork">Show Earlier Work</button>
        <div *ngIf="showEarlierWork">
          <app-alert-container></app-alert-container>
          <app-binding-examples></app-binding-examples>
          <app-toggle></app-toggle>
        </div>
      </section>
    </div>
  </div>
</section>
